:root {

}

*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid red;
}

.row {
	margin: 0;
}

body {
	overflow: hidden;
}

/*Getting rid of row::after from materialize*/
.row::after {
	display: none;
}

#battlefield {
	height: 100vh;
}

#enemy-head,
#player-head {
	height: 100px;
	overflow: hidden;
}

.battletracks{
	height: calc(100vh - 200px);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.battletrack {
	height: 95%;
	width: 25%;
	min-width: 175px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#battletrack-1 {
	border: 1px solid blue;
}

#battletrack-2 {
	border: 1px solid green;
}

#battletrack-3 {
	border: 1px solid orange;
}

.enemy-cards,
.player-cards {
	height: fit-content;
	width: 175px;
}

.custom-row-1,
.custom-row-2 {
	display: flex;
	margin: 0;
}

.card-slot {
	height: 100px;
	width: 80px;
	margin: 3px;
	background-color: darkblue;
}

.hoverable:hover {
	transform: scale(1.5);
	transition: transform .3s cubic-bezier(0,.98,.61,.99);
}

@media screen and (max-width: 470px) {
	.card-slot {
		flex-basis: 40%;
	}
}